In [28]:
import redis
import pandas as pd
from io import BytesIO

# 連接到Redis
redis_host = 'localhost'
redis_port = 6379

r = redis.Redis(host=redis_host, port=redis_port, db=0)

# 從Redis取得pickled的DataFrame資料
data = r.get('strategy_df')

if data is not None:
    # 使用BytesIO將bytes轉成檔案物件，再用pd.read_pickle讀入
    buffer = BytesIO(data)
    df = pd.read_pickle(buffer)

    # 顯示DataFrame資訊
    print("DataFrame Columns:", df.columns)
    print("DataFrame Head:")
    display(df.tail(30))
    print("DataFrame Info:")
    display(df.info())
else:
    print("No data found for 'strategy_df' in Redis.")

DataFrame Columns: Index(['date', 'open', 'high', 'low', 'close', 'volume', 'atr', 'direction',
       'signal', 'position'],
      dtype='object')
DataFrame Head:

,date,open,high,low,close,volume,atr,direction,signal,position
0,2024-12-31 18:28:00+08:00,94017.0,94030.0,94004.0,94004.0,4.07818,NaN,up,0.0,0.0
1,2024-12-31 18:29:00+08:00,94003.0,94037.0,93991.0,94022.0,11.02616,NaN,up,0.0,0.0
2,2024-12-31 18:30:00+08:00,94017.0,94020.0,93987.0,94002.0,8.90154,NaN,up,0.0,0.0
3,2024-12-31 18:31:00+08:00,93987.0,94029.0,93945.0,94010.0,85.10531,NaN,up,0.0,0.0
4,2024-12-31 18:32:00+08:00,94003.0,94080.0,94003.0,94065.0,30.23220,NaN,up,0.0,0.0
5,2024-12-31 18:33:00+08:00,94073.0,94080.0,94061.0,94061.0,18.61138,NaN,up,0.0,0.0
6,2024-12-31 18:34:00+08:00,94058.0,94068.0,94042.0,94042.0,9.26563,NaN,up,0.0,0.0
7,2024-12-31 18:35:00+08:00,94044.0,94060.0,94029.0,94047.0,18.71946,NaN,up,0.0,0.0
8,2024-12-31 18:36:00+08:00,94049.0,94082.0,94037.0,94082.0,5.89147,NaN,up,0.0,0.0
9,2024-12-31 18:37:00+08:00,94086.0,94093.0,94056.0,94078.0,65.20649,NaN,up,0.0,0.0
10,2024-12-31 18:38:00+08:00,94083.0,94085.0,94056.0,94076.0,12.97775,NaN,up,0.0,0.0
11,2024-12-31 18:39:00+08:00,94076.0,94084.0,94056.0,94069.0,44.99188,NaN,up,0.0,0.0
12,2024-12-31 18:40:00+08:00,94069.0,94116.0,94068.0,94116.0,14.83159,NaN,up,0.0,0.0
13,2024-12-31 18:41:00+08:00,94121.0,94160.0,94118.0,94151.0,57.16974,41.071429,up,0.0,0.0
14,2024-12-31 18:42:00+08:00,94151.0,94184.0,94141.0,94150.0,61.77059,42.285714,up,0.0,0.0
15,2024-12-31 18:43:00+08:00,94145.0,94180.0,94111.0,94180.0,15.04151,43.928571,up,0.0,0.0
16,2024-12-31 18:44:00+08:00,94098.0,94112.0,94071.0,94103.0,99.21000,49.214286,down,-2.0,-1.0
17,2024-12-31 18:45:00+08:00,94110.0,94196.0,94055.0,94145.0,329.18600,53.285714,down,-2.0,-1.0
18,2024-12-31 18:46:00+08:00,94145.0,94186.0,94110.0,94144.0,119.94100,53.214286,up,2.0,1.0
19,2024-12-31 18:47:00+08:00,94144.0,94201.0,94089.0,94127.0,116.00700,59.857143,up,2.0,1.0
20,2024-12-31 18:48:00+08:00,94130.0,94142.0,94058.0,94097.0,74.40400,64.000000,down,-2.0,-1.0

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       21 non-null     datetime64[ns, Asia/Taipei]
 1   open       21 non-null     float64
 2   high       21 non-null     float64
 3   low        21 non-null     float64
 4   close      21 non-null     float64
 5   volume     21 non-null     float64
 6   atr        8 non-null      float64
 7   direction  21 non-null     object
 8   signal     21 non-null     float64
 9   position   21 non-null     float64
dtypes: datetime64[ns, Asia/Taipei](1), float64(8), object(1)
memory usage: 1.8+ KB

None